html {
    font-family: 'Lato', sans-serif;
    width: 70%;
    margin: auto;
}

.sentence {
    width: 70%;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}

#answer {
    width: 70%;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 10px;
    margin-top: 5px;
    height: 60px;
    text-align: center;
}

.title-of-section {
    font-size: 18pt;
}

.orange-text {
    color: #FA6400;
    font-weight: bold;
}

#container {
    text-align: center;
}
  
p {
    font-size: 14pt;
}

/* BUTTON ENABLED */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }