html {
    font-family: 'Lato', sans-serif;
    width: 70%;
    margin: auto;
}

.option {
    width: 70%;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.checked {
    border: 2px solid #84D8FF;
    background-color: #DDF4FF;
}

.title-of-section {
    font-size: 18pt;
}

.orange-text {
    color: #FA6400;
    font-weight: bold;
}

#container {
    text-align: center;
}

.disabled {
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(233, 233, 233);
    color: rgb(170, 170, 170);
    cursor: default;
}